%hr
  .container
    .row
      .span12
        .thumbnail
          .well
            %i.icon-star.icon-large
            %h1
              Thanks for your interest.
            %h5
              We had send you a mail please verify it,  after your account will start within 4 hours.


