%hr
  .container
    .row
      .span12
        .thumbnail
          .well
            %i.icon-list-alt.icon-large
            %strong We found
            %span.badge.badge-important 6            
            %strong Tours and travel operator for haj,ziyarat,umrah

          = form_tag do
            %table.table.table-bordered
              %th
                ='#'
              %th
                Tour operator
              %th
                Address
              %th
                City
              %th
                Contact no.                
              %th              
                No. days
              %th
                Depature
              %th
                Availibility