%hr
  .container
    .row
      .span6
        .thumbnail
          .well
            %i.icon-lock.icon-large
            %strong Tour Operator Sign Up, its free

          = form_tag do
            %table.table
              %th
                Tour name
              %td
                .input-append
                  =text_field_tag 'username', nil, placeholder: 'Tour name', :class=>"span4"
                  %span.add-on
                    %i.icon-user                
              %tr      
                %th
                  Office Address
                %td
                  .input-append
                    =text_area_tag 'address', nil, rows: 4, placeholder: 'Where is your office', :class=>"span4"
                    %span.add-on
                      %i.icon-map-marker.icon-large
              %tr      
                %th
                  Country
                %td
                  .input-append
                    =text_field_tag 'username', nil, placeholder: 'Which contry its situated', :class=>"span2"
                    %span.add-on
                      %i.icon-map-marker.icon-large

              %tr      
                %th
                  City
                %td
                  .input-append
                    =text_field_tag 'username', nil, placeholder: 'Belongs to which city', :class=>"span2"
                    %span.add-on
                      %i.icon-map-marker.icon-large
              %tr      
                %th
                  Telephone 
                %td
                  .input-append
                    =telephone_field_tag 'username', nil, placeholder: 'Belongs to which city', :class=>"span4"
                    %span.add-on
                      %i.icon-bell
              %tr      
                %th
                  Mobile
                %td
                  .input-append
                    =telephone_field_tag 'username', "+91 ", placeholder: 'Belongs to which city', :class=>"span2"
                    %span.add-on
                      %i.icon-headphones
              %tr      
                %th
                  Email-id
                %td
                  .input-append
                    =text_field_tag 'username', "", placeholder: 'Belongs to which city', :class=>"span3"
                    %span.add-on
                      %i.icon-envelope

              %tr
                %th
                  Password
                %td
                  .input-append
                    = password_field_tag 'password', nil, placeholder: 'Password', :class=>"span3"
                    %span.add-on
                      %i.icon-lock                  
              %tr
                %th
                %td
                  = submit_tag "Sign UP", :name => 'view', :class => 'btn btn-primary'
      .span6
        .alert.alert-info
          %h4
            %i.icon-bullhorn.icon-large 
            How to sign UP?
        %ul
          %li
            %span.label.label-success Tour name:
            Name of your company/tour name, Which Haji or people knows by you.
          %li
            %span.label.label-success Office Address:
            Where yours office located with area, So haji will easily find your place.
          %li
            %span.label.label-success Country:
            It will diffrentiate in which country your tour is located as its international portal.
          %li
            %span.label.label-success City:
            It help easy to search your office in which city its located.
          %li
            %span.label.label-success Telephone:
            Provide us your valid telephone no. where haji can easily contact you.
          %li
            %span.label.label-success Mobile:
            Provide us your valid mobile no. with your country code, where haji can easily contact you or message you.
          %li
            %span.label.label-important Email-id:
            Provide us your valid Email-id where we can send you a enquiry about Haj, Umrah, Ziyarat which haji wants or need. With help of email-id you can login and create your upcomming tours.
          %li
            %span.label.label-important Password:
            Add strong password more than 6 characters.
            









