.well{:style=>"margin-bottom:0px;"}
  %strong Tour operators :
  - getAllpartnersLinks.each do |partner|
    %a{:href=>"mailto:#{partner.email_id}"} 
      = partner.name 
    |  
%footer
  %ul.breadcrumb{:style=>"background-color:grey;color:white"}
    %strong
      Design &amp; developed by :
      %a{:href=>"mailto:afzalmlakdawala@gmail.com"} Afzal Lakdawala
      © 2013, All Rights Reserved.
      %span.pull-right
        %strong
          Support : afzalmlakdawala@gmail.com